{% extends 'layouts/blank.html' %}
{% load django_vite %}
{% load custom_filters %}

{% block title %}{{ member_table_title }}{% endblock title %}
{% block meta_description %}{{ member_table_description }}{% endblock %}

{% block content %}

<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 py-8">
    <h1 class="mb-8 font-title text-3xl md:text-4xl">{{ member_table_title }}</h1>
</div>

<!-- Table -->
<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <div class="bg-navbar rounded-2xl shadow-2xl border border-text_navbar shadow-text_navbar p-6 w-full relative">
        {% include "components/logo_title.html" %} 
        <div class="overflow-x-auto w-full">
            <table class="bg-navbar shadow-md md:drop-shadow-2xl shadow-text_navbar w-full p-6 md:p-8 min-w-max">
                <thead>
                    <tr class="px-6 py-3 border-b-2 border-text_navbar text-left text-text_navbar bg-hover_navbar font-title text-2xl">
                        <th>{{ member_avatars_label }}</th>
                        <th>{{ member_first_name_label }}</th>
                        <th>{{ member_last_name_label }}</th>
                        <th>{{ member_gender_label }}</th>
                        <th>{{ member_email_label }}</th>
                        <th>{{ member_phone_label }}</th>
                        <th>{{ member_birth_date_label }}</th>
                        <th>{{ member_category_label }}</th>
                        <th>{{ member_status_label }}</th>
                        <th>{{ member_role_label }}</th>
                        <th>{{ member_weapon_label }}</th>
                        <th>{{ member_handedness_label }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                    <tr class="px-6 py-4 border-b text-text_navbar border-text_navbar hover:bg-hover_navbar hover:text-black cursor-pointer"
                        hx-get="{% url 'members:member_detail' member.pk %}"
                        hx-target="#memberModalContent"
                        hx-trigger="dblclick"
                        hx-swap="innerHTML"
                        _="on dblclick remove .hidden from #memberModal">
                        {% if member.photo %}
                        <td class="flex justify-center items-center">
                            <img src="{{ member.photo.url }}" alt="Photo de {{ member.get_full_name }}"
                                 class="w-12 h-12 rounded-full object-cover">
                        </td>
                        {% endif %}
                        <td>{{ member.first_name }}</td>
                        <td>{{ member.last_name }}</td>
                        <td>{{ member.get_gender_display }}</td>
                        <td>{{ member.email }}</td>
                        <td>{{ member.phone_number }}</td>
                        <td>{{ member.birth_date }}</td>
                        <td>{{ member.sports_category.name }}</td>
                        <td class="badge {{ status_badge_colors|get_item:member.status }}">
                            {{ member.get_status_display }}
                        </td>
                        {% if member.roles %}
                        <td>{{ member.get_roles_display }}</td>
                        {% endif %}
                        <td>{{ member.get_weapon_display|default:"" }}</td>
                        <td>{{ member.get_handedness_display|default:"" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center py-4">{{ member_not_found_message }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade hidden" id="memberModal" tabindex="-1" aria-labelledby="memberModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content bg-navbar" id="memberModalContent"></div>
  </div>
</div>

{% endblock content %}
