{% extends "layouts/modal.html" %}
{% load django_vite %}
{% load member_extras %}
{% load custom_filters %}

{% block modal_content %}
<div class="modal-header border-text_navbar">
    <h5 class="modal-title text-3xl font-bold font-title" id="memberModalLabel">
        {% if member.photo %}
            <img src="{{ member.photo.url }}" alt="Photo de {{ member.get_full_name }}"
                 class="w-12 h-12 rounded-full object-cover inline-block mr-2">
        {% endif %}
        {{ member.get_full_name }}
    </h5>
</div>

<div class="modal-body border-text_navbar grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <h6 class="font-bold">{{ member_personal_information_label }}</h6>
        {% member_info "Genre" member.get_gender_display %}
        {% member_info "Email" member.email "mailto:"|add:member.email %}
        {% member_info "Téléphone" member.phone_number "tel:"|add:member.phone_number %}
        {% member_info "Date de naissance" member.birth_date %}
        {% member_info "Adresse" member.address %}
        {% member_info "Complément" member.address_complement %}
        {% member_info "Code postal" member.postal_code %}
        {% member_info "Ville" member.city %}
        {% member_info "Rôle" member.get_roles_display %}
        {% member_info "Statut" member.get_status_display %}
    </div>
    
    <div>
        <h6 class="font-bold">{{ member_sports_information_label }} </h6>
        {% member_info "Catégorie" member.sports_category.name %}
        {% member_info "Arme" member.get_weapon_display %}
        {% member_info "Main" member.get_handedness_display %}

        {% if member.tags.exists %}
        <p><strong>Tags :</strong>
            {% for tag in member.tags.all %}
            {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        {% endif %}
    </div>
</div>

<div class="modal-footer border-text_navbar flex justify-between">
    <div>
        <a class="button button-gray ml-1" href="{{ request.META.HTTP_REFERER }}">{{ button_close_label }}</a>
        <a class="button"
           href="{% url 'members:member_update' member.pk %}">{{ button_modify_label }}</a>
    </div>
    <div>
        <a class="button button-red"
           href="{% url 'members:member_delete' member.pk %}">{{ button_delete_label }}</a>
    </div>
</div>
{% endblock modal_content %}
