{% load django_vite %}
<form method="post"
      action="{% url 'members:member-update' member.pk %}"
      hx-post="{% url 'members:member-update' member.pk %}"
      hx-target="#members-list"
      hx-swap="outerHTML"
      hx-on::after-request="closeModal()">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="editMemberModalLabel">Modifier les informations de {{ member.get_full_name }}</h5>
        <!-- Modification de la section photo -->
        <div class="text-center flex flex-col items-center mb-6">
            <img id="member-photo"
                    src="{% if form.instance.photo %}{{ form.instance.photo.url }}{% else %}{% vite_asset_url 'images/avatar.svg' %}{% endif %}"
                    alt="Photo du membre"
                    class="w-36 h-36 rounded-full object-cover my-4 border-2 border-text_navbar">

            <!-- Le champ photo reste caché -->
            <div class="hidden">
                {{ form.photo }}
            </div>

            <!-- Le champ photo visible pour l'interaction utilisateur -->
            <input type="file"
                    id="id_photo"
                    class="hidden"
                    accept="image/*"
                    hx-post="{% url 'members:update-photo' form.instance.pk %}"
                    hx-encoding="multipart/form-data"
                    hx-trigger="change"
                    hx-target="#member-photo"
                    hx-swap="outerHTML">

            <button type="button"
                    onclick="document.getElementById('id_photo').click()"
                    class="mt-2 px-4 py-2 text-sm bg-navbar border border-text_navbar rounded-lg hover:bg-text_navbar hover:text-navbar transition-colors">
                <i class="fas fa-camera mr-2"></i>Changer la photo
            </button>
        </div>
    </div>
    <div class="modal-body">
        {{ form.as_p }}
    </div>
    <div class="modal-footer">
        {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button> {% endcomment %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
</form>

<script>
    function closeModal() {
        var modal = document.getElementById('editMemberModal');
        var bootstrapModal = bootstrap.Modal.getInstance(modal);
        if (bootstrapModal) {
            bootstrapModal.hide();
        }
    }
</script>