{% load django_vite %}

{% if upcoming_events %}
<ul>
    {% for event in upcoming_events %}
        <li class="mt-5">
            <strong>{{ event.title }}</strong><br>
            📅 {{ event.date|date:"d F Y H:i" }}<br>
            📍 {{ event.location }}<br>
            👥 Participants : 
            {% for participant in event.participants.all %}
                {{ participant.first_name }} {{ participant.last_name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                Aucun participant.
            {% endfor %}
        </li>
    {% endfor %}
</ul>
{% else %}
<p>Aucun événement à venir.</p>
{% endif %}
