{% extends 'layouts/b.html' %}
{% load django_vite %}

{% block title %}{{ add_post_title }}{% endblock title %}
{% block meta_description %}{{ add_post_description }}{% endblock meta_description %}

{% block content %}

<div class="max-w-7xl mx-auto sm:px-6">
    <h1 class="mb-8 font-title text-3xl md:text-4xl">{{ add_post_title }}</h1>
</div>

<div class="max-w-4xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <div class="bg-navbar rounded-2xl shadow-2xl border border-text_navbar shadow-text_navbar p-6 w-full relative">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Aperçu image -->
            <div class="flex flex-col items-center mb-6">
                <figure class="rounded-lg overflow-hidden shadow-md border mt-4 w-80 h-48 bg-gray-200 flex justify-center items-center">
                    <img id="previewImage" class="w-full h-full object-cover hidden" alt="Image sélectionnée">
                </figure>

                <!-- Champ file input manuel -->
                <input type="file" id="id_image" name="image" accept="image/*" class="hidden">

                <!-- Bouton JS -->
                <button type="button" id="uploadBtn" class="button mt-4 px-4 py-2">
                    Sélectionner une image
                </button>
            </div>

            <!-- Autres champs du formulaire -->
            {{ form.as_p }}

            {% if form.errors %}
                <div class="text-red-500">
                    {{ form.errors }}
                </div>
            {% endif %}

            <div class="mt-4 flex justify-between">
                <a class="button button-gray" href="{{ request.META.HTTP_REFERER }}">{{ button_cancel_label }}</a>
                <button type="submit" class="button">{{ button_save_label }}</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const uploadBtn = document.getElementById("uploadBtn");
        const imageInput = document.getElementById("id_image");
        const previewImage = document.getElementById("previewImage");

        // Image par défaut
        previewImage.src = "{% vite_asset_url 'images/default_picture.png' %}";
        previewImage.classList.remove("hidden");

        uploadBtn.addEventListener("click", function () {
            imageInput.click();
        });

        imageInput.addEventListener("change", function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    previewImage.src = e.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                previewImage.src = "{% vite_asset_url 'images/default_picture.jpg' %}";
            }
        });
    });
</script>

{% endblock %}
