{% extends 'layouts/b.html' %}

{% block content %}
<div class="p-4">

  <div 
    id="image-wall"
    x-data="imageWall()" 
    x-init="init()"
    @htmx:afterSwap.window="init()"
    class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-4 [column-fill:_balance]"
  >
    {% include 'posts/partials/_image_list.html' %}
  </div>
</div>

<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script>
  function imageWall() {
      return {
          open: false,
          imageUrl: '',
          images: [],
          currentIndex: 0,
          isLoading: false,
  
          init() {
              this.images = Array.from(
                  document.querySelectorAll('[data-image-url]')
              ).map(el => el.dataset.imageUrl);
          },
  
          openLightbox(index) {
              this.open = true;
              this.isLoading = true;
              this.currentIndex = index;
              this.imageUrl = this.images[index];
          },
  
          nextImage() {
              this.currentIndex = (this.currentIndex + 1) % this.images.length;
              this.isLoading = true;
              this.imageUrl = this.images[this.currentIndex];
          },
  
          prevImage() {
              this.currentIndex = (this.currentIndex - 1 + this.images.length) % this.images.length;
              this.isLoading = true;
              this.imageUrl = this.images[this.currentIndex];
          },
  
          closeLightbox() {
              this.open = false;
              this.isLoading = false;
          },
  
          imageLoaded() {
              this.isLoading = false;
          }
      }
  }
</script>


{% endblock content %}
