{% extends 'layouts/b.html' %}

{% block content %}

<div class="md:flex items-center">
    <div class="w-full md:max-w-sm mr-6 md:[&>*>*>p]:text-4xl">

        {% include 'posts/post.html' %}

    </div>
    <div>
        <h1>{{ post_delete_title }}</h1>
        <p class="mb-6">{{ sentence }}</p>

        <form method='POST'>
            {% csrf_token %}
            <a class="button button-gray mr-1" href="{{ request.META.HTTP_REFERER }}">{{ button_cancel_label }}</a>
            <button type="submit" class="button-red">{{ button_confirm_label }}</button>
        </form>
    </div>
</div>
{% endblock %}