{% load django_vite %}

<article class="bg-navbar rounded-2xl shadow-2xl border border-text_navbar shadow-text_navbar p-6 w-full relative mb-10">
    <figure class="w-full relative bg-gray-800 overflow-hidden">
        {% if user.is_authenticated and user == post.author %}
            <a href="{% url 'posts:post_edit' post.id %}">
                <img class="w-full min-h-40 hover:scale-[105%] transition duration-700" src="{{ post.image.url }}">
            </a>
        {% else %}
            <img class="w-full min-h-40 hover:scale-[105%] transition duration-700" src="{{ post.image.url }}">
        {% endif %}
    </figure>

    <div class="px-4 pt-4">
        <div class="flex flex-col items-center text-center text-4xl md:text-5xl pt-3 pb-4 pl-1 pr-4 text-slate-700">
            <span class="font1">{{ post.title|truncatechars:25 }}</span> 
            <div class="w-16 bg-defilepsie_blue p-0.5 mt-4"></div>
            <div class="flex items-center gap-2 text-sm flex-wrap mt-4 mb-2">
                {% for tag in post.tags.all %}
                <a href="{% url 'posts:category' tag.slug %}" class="bg-gray-200 rounded-full px-3 py-2 hover:bg-gray-800 hover:text-white">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="justify-center mb-6">
            {% if post.author %}
                <a class="flex items-center place-content-center gap-1" href="{% url 'users:user_profile' post.author.username %}">
                    <img class="w-8 h-8 object-cover rounded-full" src="{{ post.author.profile.avatar }}">
                    <span class="font-bold hover:underline">{{ post.author.profile.name }}</span>
                    <div class="mr-1">
                        <img class="w-4 h-4" src="{% vite_asset_url 'images/verified.png' %}">
                    </div>
                </a>
            {% else %}
                <div class="flex items-center gap-1 mb-4">
                    <img class="w-8 h-8 object-cover rounded-full" src="{% vite_asset_url 'images/avatar.svg' %}">
                    <span class="text-gray-500">Auteur inconnu</span>
                </div>
            {% endif %}
        </div>
        <p class="py-4">{{ post.body|truncatechars:200 }}</p> 

    </div>

    <div class="p-4 pb-2">
        <div class="flex items-center justify-between text-sm px-2">
            <a class="font-bold hover:underline" href="{% url 'posts:post_page' post.id %}">
                {% if post.comments.count %}
                    Commentaire{{ post.comments.count|pluralize:'s' }}
                    <span id="commentscount-{{ post.id }}" class="font-light text-gray-500 ml-1">
                        {{ post.comments.count }}
                    </span>
                {% else %}
                    {% if user.is_authenticated %}
                        {% include "components/icones/comments.html" %}
                    {% endif %}
                {% endif %}
            </a>
                
            <div class="flex items-center gap-4 [&>a:hover]:underline">
                {% include 'posts/snippets/likes.html' %}
                {% if user.is_authenticated and user == post.author %}
                <a href="{% url 'posts:post_edit' post.id %}">
                    {% include "components/icones/modify.html" %}
                </a>
                <a href="{% url 'posts:post_edit' post.id %}">
                    {% include "components/icones/edit.html" %}
                </a>
                <a href="{% url 'posts:post_delete' post.id %}">
                    {% include "components/icones/delete.html" %}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</article>