{% extends 'layouts/blank.html' %}

{% block title %}{{ home_index_title }}{% endblock title %}

{% block content %}
    {% include "home/components/carousel.html" %}
    {% include "home/components/home_post.html" %}
    {% include "home/components/home_members.html" %}

    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 pt-8">
        <div class="grid grid-cols-1 md:grid-cols-2 items-start mb-1 gap-6">
            <!-- Colonne gauche -->
            <h1 class="font-title text-3xl md:text-4xl">
                Les compétitions à venir ...
            </h1>
    
            <!-- Colonne droite -->
            <div class="flex items-center space-x-4 justify-start">
                <h1 class="font-title text-3xl md:text-4xl mb-0">
                    {{ results }}
                </h1>
                <a href="{% url 'sport:results_list' %}" class="btn btn-primary text-defilepsie_blue px-4 rounded-md hover:opacity-80">
                    Voir tous les résultats →
                </a>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <!-- Élément de gauche -->
            <div class="bg-navbar rounded-2xl shadow-2xl border border-text_navbar shadow-text_navbar p-6 w-full relative overflow-hidden">
                {% include "home/components/upcoming_events.html" %}
            </div>
            
            <!-- Élément de droite -->
            <div class="bg-navbar rounded-2xl shadow-2xl border border-text_navbar shadow-text_navbar p-6 w-full relative overflow-hidden">
                {% include "home/components/results_events.html" %}
            </div>
        </div>
    </div>

    {% include "home/components/maps_location.html" %}
{% endblock %}