{% load static %}
<div class="flex items-center gap-4 [&>a:hover]:underline">
    {% if reply.likes.count %}
    <div class="flex items-center gap-1">
        {% if user in reply.likes.all %}
        <img class="w-7 -mt-1" src="https://img.icons8.com/?size=100&id=4yauMM-kbvJ-&format=png&color=000000">
        {% else %}
        <img class="w-7 -mt-1" src="https://img.icons8.com/?size=100&id=uG-gOKWvvi8T&format=png&color=000000">
        {% endif %}
        {{ reply.likes.count }}
    </div>
    {% endif %}
    {% if user.is_authenticated and user != reply.author %}
        <a class="cursor-pointer" 
        hx-get="{% url 'posts:like_reply' reply.id %}"
        hx-target="closest div"
        hx-swap="outerHTML">
            {% if user in reply.likes.all %}
            <b>Liked</b>
            {% else %}
            Like
            {% endif %}
        </a>
    {% endif %}
</div>