{% extends 'base.html' %}
{% load django_vite %}

{% block layout %}
    <content class="block container max-w-full px-4 mt-4 md:mt-12 md:max-w-3xl md:mx-auto md:p-12">
        <div class="bg-navbar rounded-2xl shadow-md md:drop-shadow-2xl shadow-text_navbar w-full p-6 md:p-8 border border-text_navbar">
            <logo>
                <div class="flex items-center gap-2 mb-2">
                    <img class="h-12 md:h-15 -mt-1" src="{% vite_asset_url 'images/logo.png' %}" alt="Logo"/>
                    <span class="text-2xl md:text-3xl font-bold font-title">Salle d'escrime de Mandelieu</span>
                </div> 
            </logo>
            {% block content %}{% endblock %}
        </div>
    </content>
    {% block extra_js %}{% endblock %}
{% endblock %}