<div x-data="{ show: true }"
     x-show="show"
     x-transition.opacity.duration.300ms
     class="fixed inset-0 z-50 overflow-y-auto bg-black/50 flex items-center justify-center px-4"
     @keydown.escape.window="show = false">

    <div @click.away="show = false"
         class="bg-navbar rounded-2xl shadow-lg w-full max-w-3xl p-6 md:p-8 border border-text_navbar transform transition-all duration-300 scale-100"
         x-show="show"
         x-transition.scale.duration.300ms>

        {% block modal_content %}
        <!-- Injected content will go here -->
        {% endblock %}
    </div>
</div>
