<nav class="hidden md:block relative">
    <ul class="navitems flex items-center justify-center h-full gap-6">
        {% if request.user.is_authenticated %}
        <!-- INFORMATIONS -->
        <li>
            <a href="{% url 'members:sport_category-prices' %}">
                Tarifs
            </a>
        </li>

        <!-- MESSAGES -->
        <li x-data="{ dropdownOpen: false }" class="relative">
            <!-- FLECHE -->
            <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer select-none">

                Messages
                <img x-bind:class="dropdownOpen ? 'rotate-180' : 'rotate-0'" 
                class="w-4 transition-transform duration-300 ease-in-out" 
                src="https://img.icons8.com/small/32/text_navbar/expand-arrow.png" alt="Dropdown"/>
            </a>

            <div x-show="dropdownOpen" 
                x-cloak 
                class="absolute right-0 bg-navbar text-text_navbar shadow rounded-lg w-40 p-2 z-20 overflow-hidden"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2">
                <ul class="hoverlist [&>li>a]:justify-end">
                    {% include "includes/components/items/messages_items.html" %}
                </ul>
            </div>
        </li>

        <!-- MEMBERS -->
        <li x-data="{ dropdownOpen: false }" class="relative">
            <!-- ARROW -->
            <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer select-none flex items-center">
                Membre
                <img x-bind:class="dropdownOpen ? 'rotate-180' : 'rotate-0'" 
                     class="w-4 transition-transform duration-300 ease-in-out" 
                     src="https://img.icons8.com/small/32/text_navbar/expand-arrow.png" alt="Dropdown"/>
            </a>

            <!-- MEMBERS LIST -->
            <div x-show="dropdownOpen" 
            x-cloak 
            class="absolute right-0 bg-navbar text-text_navbar shadow rounded-lg w-40 p-2 z-20 overflow-hidden"
            x-transition:enter="transition ease-out duration-300"
            x-transition:enter-start="opacity-0 transform -translate-y-2"
            x-transition:enter-end="opacity-100 transform translate-y-0"
            x-transition:leave="transition ease-in duration-200"
                 x-transition:leave-start="opacity-100 transform translate-y-0"
                 x-transition:leave-end="opacity-0 transform -translate-y-2">
                 <ul class="hoverlist [&>li>a]:justify-end">
                    {% include "includes/components/items/members_items.html" %}
                </ul>
            </div>
        </li>
        
        <!-- PROFILE -->
        <li x-data="{ dropdownOpen: false }" class="relative">
            <!-- ARROW -->
            <a @click="dropdownOpen = !dropdownOpen" @click.away="dropdownOpen = false" class="cursor-pointer select-none">
                {% include "includes/components/avatar.html" %}
                
                {{ request.user.profile.name }}
                <img x-bind:class="dropdownOpen ? 'rotate-180' : 'rotate-0'" 
                class="w-4 transition-transform duration-300 ease-in-out" 
                src="https://img.icons8.com/small/32/text_navbar/expand-arrow.png" alt="Dropdown"/>
            </a>
            
            <!-- PROFILE LIST -->
            <div x-show="dropdownOpen" 
                 x-cloak 
                 class="absolute right-0 bg-navbar text-text_navbar shadow rounded-lg w-40 p-2 z-20 overflow-hidden"
                 x-transition:enter="transition ease-out duration-300"
                 x-transition:enter-start="opacity-0 transform -translate-y-2"
                 x-transition:enter-end="opacity-100 transform translate-y-0"
                 x-transition:leave="transition ease-in duration-200"
                 x-transition:leave-start="opacity-100 transform translate-y-0"
                 x-transition:leave-end="opacity-0 transform -translate-y-2">
                 <ul class="hoverlist [&>li>a]:justify-end">
                    {% include "includes/components/items/users_items.html" %}
                </ul>
            </div>
        </li>
        
        {% else %}

        <!-- LOGIN -->
        <ul class="hoverlist [&>li>a]:justify-end flex flex-col items-center md:flex-row md:items-start">
            {% include "includes/components/items/login_signup_items.html" %}
        </ul>

        {% endif %}
    </ul>
</nav>
