<!-- MOBILE MENU START -->
<nav x-show="mobileMenuOpen" 
    @click.away="mobileMenuOpen = false"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0 transform -translate-y-full"
    x-transition:enter-end="opacity-100 transform translate-y-0"
    x-transition:leave="transition ease-in duration-200"
    x-transition:leave-start="opacity-100 transform translate-y-0"
    x-transition:leave-end="opacity-0 transform -translate-y-full"
    class="absolute top-20 left-0 right-0 bg-navbar border-b border-text_navbar md:hidden">
    <ul class="px-4 py-2">

        <!-- INFORMATIONS START -->
        <li x-data="{ profileOpen: false }" class="py-2">
            <div @click="profileOpen = !profileOpen" class="flex items-center justify-between cursor-pointer navitems-mobile">
                <div class="flex items-center gap-2 flex-grow">
                    <span>Escrime</span>
                </div>
                <img x-bind:class="profileOpen ? 'rotate-180' : 'rotate-0'" 
                        class="w-4 transition-transform duration-300 ease-in-out" 
                        src="https://img.icons8.com/small/32/text_navbar/expand-arrow.png" alt="Dropdown"/>
            </div>

            <ul x-show="profileOpen"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="hoverlist [&>li>a]:justify-end flex flex-col items-center md:flex-row md:items-start">
                {% include "includes/components/items/sport_items.html" %}
            </ul>
        </li>
        <!-- INFORMATIONS END -->

        <!-- MESSAGES START -->
        {% if request.user.is_authenticated %}
        <li x-data="{ profileOpen: false }" class="py-2">
            <div @click="profileOpen = !profileOpen" class="flex items-center justify-between cursor-pointer navitems-mobile">
                <div class="flex items-center gap-2 flex-grow">
                    <span>Message</span>
                </div>
                <img x-bind:class="profileOpen ? 'rotate-180' : 'rotate-0'" 
                        class="w-4 transition-transform duration-300 ease-in-out" 
                        src="https://img.icons8.com/small/32/text_navbar/expand-arrow.png" alt="Dropdown"/>
            </div>

            <ul x-show="profileOpen"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="hoverlist [&>li>a]:justify-end flex flex-col items-center md:flex-row md:items-start">
                {% include "includes/components/items/messages_items.html" %}
            </ul>
        </li>
        {% endif %}
        <!-- MESSAGES END -->

        {% if request.user.is_authenticated %}
        <!-- MEMBERS START -->
        <li x-data="{ membersOpen: false }" class="py-2">
            <div @click="membersOpen = !membersOpen" class="flex items-center justify-between cursor-pointer navitems-mobile">
                Membre
                <img x-bind:class="membersOpen ? 'rotate-180' : 'rotate-0'" 
                        class="w-4 transition-transform duration-300 ease-in-out" 
                        src="https://img.icons8.com/small/32/text_navbar/expand-arrow.png" alt="Dropdown"/>
            </div>

            <ul x-show="membersOpen"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="hoverlist [&>li>a]:justify-end flex flex-col items-center md:flex-row md:items-start">
                {% include "includes/components/items/members_items.html" %}
            </ul>
        </li>
        <!-- MEMBERS END -->

        <!-- PROFILE START -->
        <li x-data="{ profileOpen: false }" class="py-2">
            <div @click="profileOpen = !profileOpen" class="flex items-center justify-between cursor-pointer navitems-mobile">
                <div class="flex items-center gap-2 flex-grow">
                    {% include "includes/components/avatar.html" %}

                    <span>{{ request.user.profile.name }}</span>
                </div>
                <img x-bind:class="profileOpen ? 'rotate-180' : 'rotate-0'" 
                        class="w-4 transition-transform duration-300 ease-in-out" 
                        src="https://img.icons8.com/small/32/text_navbar/expand-arrow.png" alt="Dropdown"/>
            </div>

            <ul x-show="profileOpen"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 transform -translate-y-2"
                x-transition:enter-end="opacity-100 transform translate-y-0"
                x-transition:leave="transition ease-in duration-200"
                x-transition:leave-start="opacity-100 transform translate-y-0"
                x-transition:leave-end="opacity-0 transform -translate-y-2"
                class="hoverlist [&>li>a]:justify-end flex flex-col items-center md:flex-row md:items-start">
                {% include "includes/components/items/users_items.html" %}
            </ul>
        </li>
        <!-- PROFILE END -->
    {% else %}

        <!-- LOGIN -->
        <ul class="hoverlist [&>li>a]:justify-end flex flex-col items-center md:flex-row md:items-start">
            {% include "includes/components/items/login_signup_items.html" %}
        </ul>

    {% endif %}
    </ul>
</nav>
<!-- MOBILE MENU END -->