{% load django_vite %}

<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 py-8">
    <div class="flex items-center">
        <h1 class="font-title text-3xl md:text-4xl">Les derniers posts ...</h1>
        <a href="{% url 'posts:post_home' %}" class="btn btn-primary text-defilepsie_blue px-4 py-2 rounded-md hover:opacity-80">
            Voir tous les posts →
        </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for post in posts %}
            {% include 'posts/components/post_card.html' with post=post %}
        {% endfor %}
    </div>
</div>
