{% load django_vite %}


<div class="max-w-7xl mx-auto sm:px-6 lg:px-8 py-8">
    <div class="flex items-center">
        <h1 class="font-title text-3xl md:text-4xl">Les derniers posts ...</h1>
        <a href="{% url 'posts:post_home' %}" class="btn btn-primary text-defilepsie_blue px-4 py-2 rounded-md hover:opacity-80">
            Voir tous les posts →
        </a>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        {% for post in posts %}
            <div class="bg-navbar rounded-2xl shadow-2xl border border-text_navbar shadow-text_navbar overflow-hidden flex flex-col">
                
                <figure>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="w-full h-48 object-cover transition-transform duration-300 hover:scale-105">
                    {% else %}
                        <img src="{% vite_asset_url 'images/default_picture.png' %}" alt="{{ post.title }}" class="w-full h-48 object-cover">
                    {% endif %}
                </figure>

                <div class="p-4 flex flex-col flex-grow text-text_navbar">
                    <h3 class="text-xl font-semibold mb-2">{{ post.title|truncatechars:25 }}</h3>
                    <p class="text-sm mb-4">{{ post.body|truncatewords:30 }}</p>
                </div>

                <div class="px-4 pb-4">
                    <div class="flex items-center justify-between text-sm">
                        <a class="font-bold hover:underline" href="{% url 'posts:post_page' post.id %}">
                            {% if post.comments.count %}
                                Commentaire{{ post.comments.count|pluralize:'s' }}
                                <span class="font-light text-gray-500 ml-1">
                                    {{ post.comments.count }}
                                </span>
                            {% else %}
                                {% if user.is_authenticated %}
                                    Commenter
                                {% endif %}
                            {% endif %}
                        </a>

                        <div class="flex items-center gap-4 [&>a:hover]:underline">
                            {% include 'posts/snippets/likes.html' %}
                            {% if user.is_authenticated and user == post.author %}
                                <a href="{% url 'posts:post_edit' post.id %}">Éditer</a>
                                <a href="{% url 'posts:post_delete' post.id %}">Supprimer</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
