{% load django_vite %}

<header x-data="{ mobileMenuOpen: false }" class="flex items-center justify-between px-4 md:px-8 bg-navbar h-20 text-text_navbar sticky top-0 z-50 border-b border-text_navbar">
    <a href="/">    
        {% include "components/logo_title.html" %}
    </a>
    
    <!-- BURGER BUTTON (MOBILE) -->
    <button @click="mobileMenuOpen = !mobileMenuOpen" class="md:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path x-show="!mobileMenuOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
            <path x-show="mobileMenuOpen" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
        </svg>
    </button>
    
    {% include "includes/components/desktop.html" %}
    {% include "includes/components/mobile.html" %}
</header>