{% extends 'layouts/blank.html' %}
{% load django_vite %}

{% block title %}{{ newsletter_title  }}{% endblock title %}
{% block meta_description %}{{ newsletter_description }}{% endblock meta_description %}

{% block content %}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
   <h1 class="mb-8 font-title">{{ newsletter_title  }}</h1>
</div>
   
<div class="max-w-4xl mx-auto py-4 px-4 sm:px-6 lg:px-8 py-8">
   <div class="bg-navbar rounded-2xl shadow-md md:drop-shadow-2xl shadow-text_navbar border border-text_navbar">
       <div class="p-6">
         <div class="flex items-center justify-center min-h-screen p-4">
            <div class="bg-navbar rounded-lg max-w-3xl w-full">
               <!-- Image d'en-tête -->
               <img src="{% vite_asset_url 'images/newsletters.jpg' %}" alt="Header Image" class="w-full rounded-t-lg">

               <!-- Contenu principal -->
               <div class="p-6 text-center">
                     <p class="text-lg font-semibold">{{ greeting_hello }} {{ name }}!</p>
                     <p class="mt-2 text-gray-700">{{ newsletter_welcome_message }}</p>
                     <p class="mt-2 text-gray-700">{{ club_updates_notice }}</p>

                     <!-- Bouton "Visit Website" -->
                     <a href="https://www.laurentjouron.dev/" target="_blank" class="button bg-navbar border-text_navbar hover:bg-text_navbar hover:text-navbar">
                        {{ website_link_text }}
                     </a>
               </div>

               <!-- Section d'information -->
               <div class="p-6 border-t border-gray-300">
                     <h1 class="text-2xl font-bold text-center mb-4 font-title">{{ news_title_escrime }}</h1>
                     <p class="text-gray-700 text-center mb-4">
                        Have you checked out 
                        <a href="https://www.laurentjouron.dev/" target="_blank" class="font-semibold text-black hover:underline">Laurent Jouron</a> yet? New Django features will be added regularly.
                     </p>

                     <!-- Liste des fonctionnalités -->
                     <div class="max-w-lg mx-auto text-left">
                        <p class="font-semibold mb-2">Launching soon:</p>
                        <ul class="list-disc list-inside text-gray-700 space-y-2">
                           <li>Login with Google and X</li>
                           <li>Stripe Implementation</li>
                           <li>Image & Caption Game</li>
                           <li>AI</li>
                        </ul>
                     </div>
                  </div>
                  
                  <!-- Message de remerciement -->
                  <div class="p-6 border-t border-gray-300 text-center">
                     <h2 class="text-xl font-semibold mb-4">{{ message_appreciation }}</h2>
                     <p class="text-gray-700">
                        {{ gratitude_message }}
                     </p>
                  </div>
                  
                  <!-- Icônes des réseaux sociaux -->
                  <div class="p-6 border-t border-gray-300 text-center">
                     <h2 class="text-xl font-semibold mb-4">{{ club_support_title }}</h2>
                     <p class="text-gray-700">
                        {{ support_message }}
                     </p>
                  </div>
                  <div class="p-6 flex justify-center space-x-8">
                     <a href="https://www.instagram.com/salle_escrime_mandelieu/" target="_blank" class="hover:opacity-80 transition">
                        <img src="https://cdn-images.mailchimp.com/icons/social-block-v3/block-icons-v3/instagram-outline-dark-40.png" alt="Instagram" class="w-10 h-10">
                     </a>
                     <a href="https://www.facebook.com/escrimemandelieu" target="_blank" class="hover:opacity-80 transition">
                        <img src="https://cdn-images.mailchimp.com/icons/social-block-v3/block-icons-v3/facebook-outline-dark-40.png" alt="Facebook" class="w-10 h-10">
                     </a>
               </div>

               <!-- Logo en bas -->
               <div class="py-2 flex justify-center">
                     <a href="https://www.laurentjouron.dev/" target="_blank">
                        <img src="{% vite_asset_url 'images/logo_back_without_bg.png' %}" alt="Salle Escrime Mandelieu Logo" class="w-60">
                     </a>
               </div>

               <!-- Lien de désinscription -->
               <div class="text-center text-sm text-gray-600 pb-6">
                  Si vous ne souhaitez plus recevoir cette newsletter, vous pouvez
                  <a href="http://localhost:8000/profile/settings/" target="_blank" class="text-black font-semibold hover:underline"> vous désincrire ici</a>.
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
